!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title #{title} - Posts.li
    meta(name="description", content="")
    meta(name="author", content="")

    link(href="/stylesheets/style.css", rel="stylesheet")
    link(href='/javascripts/jquery-notify/ui.notify.css', rel='stylesheet')

    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    script(src='/javascripts/jquery-1.7.1.min.js')
    // required by jquery notify
    script(src='/javascripts/jquery.ui.widget.js')
    // microsoft CDN
      script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.min.js")
      script(src='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.min.js')
    // google CDN
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
      script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')

    // use self modified jquery.modal fit for bootstrap style
    script(src="/javascripts/jquery.modal.js")
    // bootstrap scripts
    script(src="/bootstrap/js/bootstrap-tooltip.js")
    script(src="/bootstrap/js/bootstrap-popover.js")
    // text area autoresize
    script(src="/javascripts/autoresize/jquery.autoresize.js")
    // markdown
    // TODO fix github tags
    script(src="/javascripts/github-flavored-markdown/scripts/showdown.js")
    // html5 form validation
    script(src="/javascripts/H5F/h5f.js")
    // jquery ajaxform
    script(src="/javascripts/form/jquery.form.js")
    // jquery pushstate
    script(src="/javascripts/jquery-pjax/jquery.pjax.js")
    // jquery notify
    script(src='/javascripts/jquery-notify/src/jquery.notify.js')
    // template engine
    // script(src='/javascripts/jst.js')
    script(src='/javascripts/jade.runtime.js')
    // compiled templates
    script(src='/javascripts/posts/templates.js')
    script(src='/javascripts/async.js')
    script(src='/javascripts/md5.js')
    script(src='/javascripts/url.js')
    script(src='/javascripts/dateformat.js')
    script(src='/javascripts/smartdate.js')
    // app javascripts
    script(src="/javascripts/posts/lib/base.js")
    script(src="/javascripts/posts/lib/editor.js")
    script(src="/javascripts/posts/lib/posts.js")
    script(src="/javascripts/posts/pages/post-modify.js")
    script(src="/javascripts/posts/pages/layout.js")

    block scripts

    <!-- Le fav and touch icons -->
    link(rel="shortcut icon", href="images/favicon.ico")
    link(rel="apple-touch-icon", href="images/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="images/apple-touch-icon-114x114.png")

  body(class=locals.bodyClasses)

    .container
      header
        .user-controls
          form.search(action='/')
            input(type='search', name='q', placeholder="Seach...")
          - if(user)
            a(href='/username')
              img(src=avatar(user.md5, 20))
            a(href='/username')= user.fullname || user.email
            &nbsp;
            a.preferences(href="/preferences") Preferences
            &nbsp;
            a.signout(href='/signout') Sign out
          - else
            a.signup(href="/signup") Sign up

        a(href="/")
          img(src="/images/logo.png")

      #templates
        block template
      // jquery-notify template
      #notify-container.ui-notify
         #basic-template
           a.ui-notify-cross.ui-notify-close(href="#")&times;
           h1 \#{title}
           p \#{text}

      #content
        block content
          != body

      footer
        p All rights reserved. &copy; posts.li 2011
        p Powered by 
          a(href="http://www.expressjs.org") express
          ,&nbsp;
          a(href="http://twitter.github.com/bootstrap") bootstrap
          ,&nbsp;
          a(href="http://somerandomdude.com/work/iconic/") iconic
          &nbsp;and
          a(href=user && "/user/#{user._id}") you
          .
