!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title #{title} - Posts.li
    meta(name="description", content="")
    meta(name="author", content="")

    link(href="/stylesheets/style.css", rel="stylesheet")
    link(href='/javascripts/jquery-notify/ui.notify.css', rel='stylesheet')

    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    script(src='/javascripts/jquery-1.6.3.min.js')
    script(src='/javascripts/jquery.ui.widget.js')
    // microsoft CDN
      script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.min.js")
      script(src='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.min.js')
    // google CDN
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
      script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')

    // use self modified jquery.modal fit for bootstrap style
    script(src="/javascripts/jquery.modal.js")
    // use self modified bootstrap-twipsy
    script(src="/javascripts/bootstrap-twipsy.js")
    script(src="/bootstrap/js/bootstrap-popover.js")
    script(src="/javascripts/autoresize/jquery.autoresize.js")
    script(src="/javascripts/github-flavored-markdown/scripts/showdown.js")
    script(src="/javascripts/H5F/h5f.js")
    script(src="/javascripts/form/jquery.form.js")
    script(src="/javascripts/jquery-pjax/jquery.pjax.js")
    script(src='/javascripts/jquery-notify/src/jquery.notify.js')
    script(src="/javascripts/app.js")
    script(src="/javascripts/editor.js")
    script(src="/javascripts/post-modify.js")

    block scripts

    <!-- Le fav and touch icons -->
    link(rel="shortcut icon", href="images/favicon.ico")
    link(rel="apple-touch-icon", href="images/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="images/apple-touch-icon-114x114.png")

  body(class=locals.bodyClasses)

    .container
      header
        .user-controls
          form.search(action='/')
            input(type='search', name='q', placeholder="Seach...")
          - if(user)
            a(href='/username')
              img(src=avatar(user.md5, 20))
            a(href='/username')= user.fullname || user.email
            &nbsp;
            a.preferences(href="/preferences") Preferences
            &nbsp;
            a.signout(href='/signout') Sign out
          - else
            a.signup(href="/signup") Sign up

        a(href="/")
          img(src="/images/logo.png")

      #templates
        #modify-post-template
          div
            include posts/editor-bar-outer
            form(method="post", name="modifypost")
              textarea(placeholder="Say something", name="content")#\{entry.revisions[entry.revisions.length - 1].content}
              .clearfix.editor-bar
                include posts/editor-bar
              .right
                input.btn.primary(type="submit", value="Modify")
              input(name="message", placeholder="commit message")
                input(name="title", type="hidden", value="#\{entry.title}")

        #comment-template
          include posts/comment
        #comment-form
          // TODO simplfy this
          .row
            .avatar-info
              .avatar
                a.avatar(href="#", style="background-image:url('avatar(user.md5, 32)')", title="Jason's blog")
            .span11
              form(action='/post/{{id}}/comments/{{operation}}', method='post')
                textarea(name="content", style="width:100%")
                input.btn.primary(type="submit", value="comment")
      #notify-container.ui-notify
         #basic-template
           a.ui-notify-cross.ui-notify-close(href="#")&times;
           h1 \#{title}
           p \#{text}

      #content
        block content
          != body

      footer
        p All rights reserved. &copy; posts.li 2011
        p Powered by 
          a(href="http://www.expressjs.org") express
          ,&nbsp;
          a(href="http://twitter.github.com/bootstrap") bootstrap
          ,&nbsp;
          a(href="http://somerandomdude.com/work/iconic/") iconic
          &nbsp;and
          a(href=user && "/user/#{user._id}") you
          .
