.row.entry

  .avatar-info
    // avatar
    .avatar
      a.avatar(href="#", style="background-image:url('#{avatar(user.md5, 64)}')", title="Jason's blog")
      // show this on hover, click to pop menu
      .user_info

    // the popup menu
    .user-menu
      .clearfix
        a 5123
      .clearfix
        a(href="#") Chat
      .clearfix
        a(href="#") Unfollow

  .post

    .post-controls.right
      // scores
      // show-comment       1
      // add comment        2
      // bookmark(favorit)  3
      // reblog             4  need comment
      // junk              -5
      // searching keywords also effect to user taste

      if(user.md5 == entry.author.md5)
        span.icon.pen.clickable.tipsy(title="edit")
      span.icon.trash.clickable.tipsy(title="Remove")
      span.icon.clock.clickable.tipsy(title="Read later")
      // like has no effect, user wont click it
      // use bookmark, favorit

    .post-info
      a(href="#")= entry.author.fullname
        span :

    .post-content
      != entry.html

    .post-controls.right
      span.icon.loop.clickable.tipsy(class = true && 'fill', title="reblog")
      span.icon.star.clickable.tipsy(class = true && 'fill', title="favorit")
      span.icon.heart.clickable.tipsy(class = true && 'fill', title="Like")
      span.show-comments.icon.comment-icon.clickable.tipsy(class=true && "fill" , title="100 comments")
      span.icon.none
      span.icon.close-icon.tipsy(title="never show this again")

    .post-info
      // TODO fix time update problem
      span.tipsy(date="#{entry.createTime.getTime()}", title="#{entry.createTime.format('yyyy-mm-dd HH:MM:ss')}")= smartDate(entry.createTime)
      &nbsp;&nbsp;
      for tag in ['cpp', 'node']
        a.tag(class="tag-#{tag}", href="/tag/#{tag}")= tag
      span.post-controls
        span.icon.tag.clickable.tipsy(class = true && 'fill', title="Add tags")

    .loading Loading...
    .comments
      .comment
        p show something comments
      .comment
        p show something comments
      .comment
        p show something comments
      .comment
        p show something comments
      .comment
        p show something comments
      .comment
        p show something comments
      .comment
        p show something comments
      .comment
        p show something comments
      .comment
        p show something comments
