.row.entry

  .avatar-info
    // avatar
    .avatar
      a.avatar(href="#", style="background-image:url('#{avatar(user.md5, 64)}')", title="Jason's blog")
      // show this on hover, click to pop menu
      .user_info

    // the popup menu
    .user-menu
      .clearfix
        a 5123
      .clearfix
        a(href="#") Chat
      .clearfix
        a(href="#") Unfollow

  .post

    .post-controls.right
      // scores
      // show-comment       1
      // add comment        2
      // bookmark(favorit)  3
      // reblog             4  need comment
      // junk              -5
      // searching keywords also effect to user taste
      if(user._id == entry.authorId || isModerator(user))
        a.icon.pen.clickable.tipsy(href="/post/#{entry._id}/modify", title="Modify")
        // TODO use something like tipsy drop down the confirm message
        span.icon.trash.clickable.tipsy(title="Remove", id="rm-#{entry._id}")
      span.icon.share.clickable.tipsy(class = false && 'fill', title="Share to SNS")
      span.icon.link.clickable.tipsy(class = false && 'fill', title="Link")
      // TODO read later
      // span.icon.clock.clickable.tipsy(title="Read later")
      // like has no effect, user wont click it
      // use bookmark, favorit

    .post-info
      // TODO simplfy this, just for test now
      // a(href="#")= entry.contributors[entry.authorId].fullname
      - var _author = entry.contributors && entry.contributors[entry.authorId]
      a(href="#")= _author && _author.fullname
        span :

    .post-content
      != entry.html

    .post-controls.right
      span.icon.loop.clickable.tipsy(class = false && 'fill', title="Reblog")
      span.icon.star.clickable.tipsy(class = false && 'fill', title="Mark")
      span.icon.heart.clickable.tipsy(class = false && 'fill', title="Like")
      span.show-comments.icon.comment-alt.clickable.tipsy(class=entry.commentsCount && "fill" , title="#{entry.commentsCount || 'no'} comments")
      span.icon.none
      span.icon.close-icon.clickable.tipsy(title="never show this again")

    .post-info
      // TODO fix time update problem
      span.tipsy(date="#{entry.createTime.getTime()}", title="#{entry.createTime.format('yyyy-mm-dd HH:MM:ss')}")= smartDate(entry.createTime)
      &nbsp;&nbsp;
      span.post-controls
        for tag in ['cpp', 'node']
          a.tag(class="tag-#{tag}", href="/tag/#{tag}")= tag
        a.tag(class="tag-mytag", href="/tag/mytag") my-tag
        span.clickable &times;
        a.tag(class="tag-mytag", href="/tag/mytag") my-tag
        span.clickable &times;
        span.icon.tag.clickable.tipsy(class = false && 'fill', title="Add tags")

    .comments
      form(action='/post/#\{id}', method='post')
        input(style="width:100%")
